<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/animate.css/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/morris.js/css/morris.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/icon/icofont/css/icofont.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />



    <link href="~/assets/icon/themify-icons/themify-icons.css" rel="stylesheet" />
    <script src="~/assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/classie/classie.js"></script>
    <script src="~/assets/js/jquery/jquery.min.js"></script>
    <script src="~/assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/js/modernizr/css-scrollbars.js"></script>
    <script src="~/assets/js/modernizr/modernizr.js"></script>
    <script src="~/assets/js/morris.js/morris.js"></script>>
    <script src="~/assets/js/popper.js/popper.min.js"></script>
    <script src="~/assets/js/raphael/raphael.min.js"></script>
    <script src="~/assets/js/bootstrap-growl.min.js"></script>
    <script src="~/assets/js/classie.js"></script>
    <script src="~/assets/js/common-pages.js"></script>
    <script src="~/assets/js/demo-12.js"></script>
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/js/jquery.mousewheel.min.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/script.min.js"></script>
    <script src="~/assets/js/SmoothScroll.js"></script>
    <script src="~/assets/pages/accordion/accordion.js"></script>
    <script src="~/assets/pages/accordion/accordion.min.js"></script>
    <script src="~/assets/pages/chart/morris/morris-custom-chart.js"></script>
    <script src="~/assets/pages/dashboard/custom-dashboard.js"></script>
    <script src="~/assets/pages/google-maps/gmaps.min.js"></script>
    <script src="~/assets/pages/google-maps/jquery.gmaps.js"></script>
    <link href="~/assets/pages/notification/notification.css" rel="stylesheet" />
    <script src="~/assets/pages/notification/notification.js"></script>
    <script src="~/assets/pages/todo/todo.js"></script>
    <script src="~/assets/pages/widget/amchart/amcharts.js"></script>
    <script src="~/assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="~/assets/pages/widget/amchart/ammap.js"></script>
    <script src="~/assets/pages/widget/amchart/ammap.min.js"></script>
    <script src="~/assets/pages/widget/amchart/continentsLow - Copy.js"></script>
    <script src="~/assets/pages/widget/amchart/continentsLow.js"></script>
    <script src="~/assets/pages/widget/amchart/continentsLow.min.js"></script>
    <script src="~/assets/pages/widget/amchart/gauge.js"></script>
    <script src="~/assets/pages/widget/amchart/gauge.min.js"></script>
    <script src="~/assets/pages/widget/amchart/light.js"></script>
    <script src="~/assets/pages/widget/amchart/light.min.js"></script>
    <script src="~/assets/pages/widget/amchart/pie.js"></script>
    <script src="~/assets/pages/widget/amchart/pie.min.js"></script>
    <script src="~/assets/pages/widget/amchart/serial.js"></script>
    <script src="~/assets/pages/widget/amchart/serial.min.js"></script>
    <script src="~/assets/pages/widget/amchart/worldLow.js"></script>
    <script src="~/assets/pages/widget/amchart/worldLow.min.js"></script>
    <script src="~/assets/pages/icon-modal.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
